{:version      {:major 1
                :minor 3
                :patch 0}
 :version-type :semver3
 :changes      {:added      ["Use [common-beer-format](https://github.com/Wall-Brew-Co/common-beer-format) to define keys in data maps."]
                :changed    []
                :deprecated []
                :removed    []
                :fixed      ["Fix typo in yeast data helper."]
                :security   []}
 :timestamp    "2023-03-09T01:03:49.667941Z"}
